---
layout: default
title: Home
---

<div class="home">

	<section class="home-articles-section">
		<h1 class="home-articles-title"><a href="/blog">Latest Articles</a></h1>
		{% for post in site.posts | limit: 5 %}
			<article class="home-article">
				<time class="home-article-post-date">{{ post.date | date_to_string }}</time>
				<span class="home-article-post-category">{{ post.categories }}</span>
				<h2 class="home-article-post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
			</article>
		{% endfor %}
	</section>

	<section class="home-projects-section">
		<h1 class="home-projects-title"><a href="/projects">Latest Projects</a></h1>

		<article class="home-project">
			<time class="home-project-post-date">09 Dec 2013</time>
			<span class="home-project-post-url"><a href="#">http://www.example.com</a></span>
			<h2 class="home-project-post-title"><a href="/projects/project">Example Project</a></h2>
		</article>
		<article class="home-project">
			<time class="home-project-post-date">09 Dec 2013</time>
			<span class="home-project-post-url"><a href="#">http://www.example.com</a></span>
			<h2 class="home-project-post-title"><a href="/projects/project">Example Project</a></h2>
		</article>

	</section>

	{% include sidebar.html %}

</div>
