<footer class="site-footer">

	<div class="site-footer-content">

		<p>Guy Routledge is a developer specialising in front-end architecture and modular &amp; maintainable stylesheets with Sass.</p>

		<p>I'm currently {% if site.available %} available {% else %} unavailable {% endif %} for contract work.</p>

		{% if site.available %}
			<a href="/hire-me" class="site-footer-hire-button">Hire me</a>
		{% endif %}

	</div>
	<div class="site-footer-social">
		<a href="http://www.twitter.com/guyroutledge"><i class="icon-twitter"></i><span>@guyroutledge</span></a>
		<a href="http://www.github.com/guyroutledge"><i class="icon-github"></i><span>guyroutledge</span></a>
		<a href="http://www.codepen.io/guyroutledge"><i class="icon-codepen"></i><span>guyroutledge</span></a>
	</div>

</footer>
