<div id="mc_embed_signup" class="post-signup">
	<form action="http://atozcss.us3.list-manage.com/subscribe/post?u=fb5c2d7d6163f7fcbba78e8b0&amp;id=4839f04e43" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		<h2>Sign up for email updates</h2>
		<p>Spam sucks, so there'll be none of that. I'll never share your details, and you'll never get more than one email per week.</p>
		<div class="mc-field-group">
			<label for="mce-EMAIL">Email Address </label>
			<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
		</div>
		<div id="mce-responses" class="clear">
			<div class="response" id="mce-error-response" style="display:none"></div>
			<div class="response" id="mce-success-response" style="display:none"></div>
		</div>
		<div style="position: absolute; left: -5000px;"><input type="text" name="b_fb5c2d7d6163f7fcbba78e8b0_4839f04e43" tabindex="-1" value=""></div>
		<span class="finger">☞</span><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
	</form>
</div>

<p>
	If you hate email but still want to keep in touch,
	<a href="http://www.twitter.com/guyroutledge">follow me on Twitter.</a>
	If you want to help support me in my various ventures, you can
	<a href="http://www.gittip.com/guyroutledge">leave me a tip with Gittip</a>.
</p>

<script data-gittip-username="guyroutledge" data-gittip-widget="button" src="//gttp.co/v1.js"></script>

