<a href="https://plus.google.com/+guyroutledge">
	<img src="/images/me.jpg" class="authorship-image" alt="Guy Routledge avatar">
</a>

{% if page.next or page.previous %}

	<aside class="site-sidebar">

		{% if page.categories[0] == 'blog' %}
			{% include social.html %}
		{% endif %}

		<nav class="site-sidebar-navigation">
			{% if page.next %}
				<a href="{{ page.next.url }}" title="{{ page.next.title }}" class="site-sidebar-next-{{ page.next.categories }}">Next Post</a>
			{% endif %}
			{% if page.previous %}
				<a href="{{ page.previous.url }}" title="{{ page.previous.title }}" class="site-sidebar-prev-{{ page.previous.categories }}">Previous Post</a>
			{% endif %}
			<a href="/" title="Go back to the homepage" class="site-sidebar-home">Go Home</a>
		</nav>

	</aside>

{% endif %}
