<aside class="social">
	<h3 class="social-title">Sharing &amp; Social</h3>
	<ul class="social-buttons">
		<li>
		<a href="https://plus.google.com/share?url=http://{{ site.url }}{{ page.url }}" class="socialite googleplus-one" data-size="large" data-href="http://{{ site.url }}{{ page.url }}" rel="nofollow" target="_blank"><span class="vhidden">Share on Google+</span></a>
		</li>
		<li>
		<a href="http://www.facebook.com/sharer.php?u=http://{{ site.url }}{{ page.url }}" class="socialite facebook-like" data-href="http://{{ site.url }}{{ page.url }}" data-send="false" data-layout="button_count" data-width="60" data-show-faces="false" rel="nofollow" target="_blank"><span class="vhidden">Share on Facebook</span></a>
		</li>
		<li>
		<a href="http://www.linkedin.com/shareArticle?mini=true&url=http://{{ site.url }}{{ page.url }}&title={{ page.title }}" class="socialite linkedin-share" data-url="http://{{ site.url }}{{ page.url }}" data-show-count="true" data-counter="right" rel="nofollow" target="_blank"><span class="vhidden">Share on LinkedIn</span></a>
		</li>
		<li>
		<a href="http://twitter.com/share" class="socialite twitter-share" data-text="{{ page.title }}" data-url="http://{{ site.url }}{{ page.url }}" data-count="horizontal" rel="nofollow" target="_blank"><span class="vhidden">Share on Twitter</span></a>
		</li>
		<li>
			<a href="http://twitter.com/guyroutledge" class="socialite twitter-follow" data-show-count="false" rel="nofollow" target="_blank"><span class="vhidden">Share on Twitter</span></a>
		</li>
	</ul>
	<i class="icon-comment"></i>
</aside>
