//*************************
// $$ Available Banner
//**************************

.available-banner {
	position:absolute;
	top:-6em;
	right:2em;

	padding:12em 1.5em 1.5em;

	color:$color-light;
	background:$color-hire;
	box-shadow:0 5px 0 white,
               0 10px 0 $color-hire;

	font-size:0.875em; // 14px / 16px
	text-align:center;
	text-transform:uppercase;

	-webkit-transition: all 400ms cubic-bezier(0.385, 0, 0.490, 1); /* older webkit */
	-webkit-transition: all 400ms cubic-bezier(0.385, -0.600, 0.490, 1.650);
	   -moz-transition: all 400ms cubic-bezier(0.385, -0.600, 0.490, 1.650);
	     -o-transition: all 400ms cubic-bezier(0.385, -0.600, 0.490, 1.650);
	        transition: all 400ms cubic-bezier(0.385, -0.600, 0.490, 1.650);

	&:hover, &:focus, &:active {
		top:-2em;
	}

	em {
		display:block;
		color:#fff;
		font-size:1.5em;
		text-transform:none;
	}
	span {
		display:block;
		font-size:1.25em;
	}

	@include respond-to($media-tablet) {
		top:0.75em;
		right:0;
		padding:0.5em 1.5em 0.5em 3em;

		font-size:0.75em;
		text-align:right;
		box-shadow:-5px 0 0 white, -10px 0 0 #9e2a2a;

		em, span {
			display:inline-block;
		}
		em {
			margin-right:0.25em;
		}
	}
}

