//*************************
// $$ Buttons & Links
//**************************

%button {
	display:inline-block;
	margin:0;
	padding:0.5em 1em;

	color:#fff;

	font-family:$font-copy;
	font-size:0.875em;
	text-transform:uppercase;
	text-align:center;

	-webkit-transition:all 0.3s ease;
	   -moz-transition:all 0.3s ease;
	     -o-transition:all 0.3s ease;
	    -ms-transition:all 0.3s ease;
	        transition:all 0.3s ease;

	&:hover {
		color:$color-copy;
	}
}
%button-small {
	padding:0.5em 1em;
	font-size:0.75rem;
	line-height:1rem;
}

$i:1;
$sections: 'home', 'articles', 'articles-light', 'projects', 'about', 'hire-me';
$section-colours: $color-home, $color-blog, desaturate(lighten($color-blog, 15%), 25%), $color-work, $color-about, $color-hire;

@each $section in $sections {
	%background-#{$section} {
		background:nth($section-colours, $i);

		&:hover {
			background:lighten( nth($section-colours, $i), 15% );
		}
	}
	%color-#{$section} {
		color:nth($section-colours, $i);

	}
	a%color-#{$section} {
		&:hover {
			color:lighten( nth($section-colours, $i), 15% );
		}
	}
	$i: $i + 1;
}
