//*************************
// $$ Footer
//**************************

.site-footer {
	p, h1, h2, h3, h4 {
		color:$color-light;
	}
	a:hover {
		color:#fff;
	}
}
.site-footer:after {
	background:$color-dark;
	border-top:5px solid #000;
}

.site-footer-content {

	p {
		max-width:80%;
	}
	span, em {
		display:inline-block;

		color:#fff;
		font-size:1.75em;
		font-family:$font-brand;
		font-style:italic;
	}
	em {
		margin:0 0.15em;
	}
	span {
		margin:0 0.15em 0 0;
	}
}
.site-footer-hire-button {
	@extend %button;
	@extend %background-hire-me;
	padding:0.75em 6em;
}

.site-footer-social {
	text-align:center;

	a {
		display:block;
		margin:0 0 $global-spacing/2;

		&:hover {
			[class*="icon"] {
				color:lighten($color-dark, 15%);
			}
		}
	}
	span {
		display:block;
		margin-top:-1em;
		font-size:0.75em;
	}
	[class*="icon"] {
		color:darken($color-dark, 20%);
		font-size:4em;

	-webkit-transition:all 0.3s ease;
	   -moz-transition:all 0.3s ease;
	     -o-transition:all 0.3s ease;
	    -ms-transition:all 0.3s ease;
	        transition:all 0.3s ease;
	}
}
.site-footer-copyright {
	margin:$global-spacing*2 0 0;
	line-height:1em;

	small {
		color:darken($color-light, 25%);
	}
}
