//*************************
// $$ Icons
//**************************

[class^="icon-"]:before,
[class*=" icon-"]:before {
  display: inline-block;

  font-family: 'icons';
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}

.icon-search:before               { content: "\f002"; }
.icon-fork:before                 { content: "\f003"; }
.icon-quotes:before               { content: "\f004"; }
.icon-house:before                { content: "\f005"; }
.icon-archive:before              { content: "\f006"; }
.icon-category:before             { content: "\f007"; }
.icon-cog:before                  { content: "\f013"; }
.icon-codepen:before              { content: "\f029"; }
.icon-pencil:before               { content: "\f040"; }
.icon-question-sign:before        { content: "\f059"; }
.icon-calendar:before             { content: "\f073"; }
.icon-comment:before              { content: "\0021"; }
.icon-twitter:before              { content: "\f099"; }
.icon-github:before               { content: "\f09b"; }


