//*************************
// $$ Layout
//**************************

%grid-fixed {
	display:table-cell;
	vertical-align:top;
}

%grid-wide {
	@extend %grid-fixed;

	width:auto;
	max-width:50em;
	padding-right:(4 * $global-spacing);
}
%grid-narrow {
	@extend %grid-fixed;
	width:4 * $global-spacing;
}

.site-navigation {
	@extend %grid-narrow;
}
.site-content {
	@extend %grid-wide;
}

.site-content,
.home, .post,
.site-footer {
	position:relative;
}
.home, .post,
.site-footer,
.site-footer-social {
	padding:$global-spacing;
}
.home, .post {
	padding-bottom:$global-spacing * 2;
}

.site-sidebar {
	bottom:5px; // account for border on footer
	left:100%;
}
.site-sidebar,
.site-footer-social {
	position:absolute;
	width:4 * $global-spacing;
}
.site-footer-social {
	top:0;
	left:100%;
}
.site-footer {
	padding-bottom:1em;

	&:after {
		content:"";
		position:absolute;
		top:-5px;
		left:0;

		width:10000px;
		height:100%;

		z-index:-1;
	}
}
