//*************************
// $$ Layout
//**************************

%grid-wide {
	max-width:50em;
	padding-right:(4 * $global-spacing);
}
%grid-narrow {
	width:4 * $global-spacing;
}

.site-container {
	width:100%;
	margin-left:0.25em;
	overflow-x:hidden;
}
.site-navigation {
	@extend %grid-narrow;
	position:fixed;
	top:0;
	left:(-4 * $global-spacing) + 0.25em;
	height:100%;
}
.site-content {
	@extend %grid-wide;

	@include respond-to($media-tablet) {
		padding-right:0;
	}
}

.site-content,
.main-content,
.site-footer {
	position:relative;
}
.main-content,
.site-footer,
.site-footer-social {
	padding:$global-spacing;
}
.main-content {
	padding-bottom:$global-spacing * 3;
}
.has-sharing-buttons .main-content {
	@include respond-to($media-tablet) {
		padding-bottom:$global-spacing * 6;
	}
}
.main-content,
.site-footer {
	@include respond-to($media-tablet) {
		padding-top:$global-spacing * (3/2);
	}
	@include respond-to($media-mobile) {
		padding-left:2em;
		padding-right:2em;
	}
}

.site-sidebar {
	bottom:5px; // account for border on footer
}
.site-sidebar,
.site-footer-social {
	position:absolute;
	left:100%;

	width:4 * $global-spacing;

	@include respond-to($media-tablet) {
		left:auto;
		right:0;
	}
}
.site-footer-social {
	top:0;
}
.site-footer {
	padding-bottom:1em;
	z-index:20; // so navicon disappears behind it

	&:after {
		content:"";
		position:absolute;
		top:-5px;
		left:0;

		width:10000px;
		height:100%;

		z-index:-1;
	}
}
