//*************************
// $$ Layout
//**************************

%grid-wide {
	max-width:50em;
	padding-right:(4 * $global-spacing);

	@include respond-to($media-desktop-small) {
		padding-right:0;
	}
}
%grid-narrow {
	width:4 * $global-spacing;
}

.site-container {
	width:100%;
	overflow-x:hidden;
}
.site-navigation {
	@extend %grid-narrow;
	position:fixed;
	top:0;
	left:(-4 * $global-spacing);
	height:100%;
}
.site-content {
	@extend %grid-wide;
}

.site-content,
.main-content,
.site-footer {
	position:relative;
}
.main-content,
.site-footer,
.site-footer-social {
	padding:$global-spacing;
}
.main-content {
	padding-bottom:$global-spacing * 2;
}

.site-sidebar {
	bottom:5px; // account for border on footer
	left:100%;
}
.site-sidebar,
.site-footer-social {
	position:absolute;
	width:4 * $global-spacing;
}
.site-footer-social {
	top:0;
	left:100%;
}
.site-footer {
	padding-bottom:1em;

	&:after {
		content:"";
		position:absolute;
		top:-5px;
		left:0;

		width:10000px;
		height:100%;

		z-index:-1;
	}
}
