//*************************
// $$ Post
//**************************

.post {
	h1, h2, h3, h4, h5, h6, a {
		@extend %color-articles;
	}
	p + h1,
	p + h2,
	p + h3,
	p + h4 {
		margin-top:$font-margin-bottom * 2;
	}
	li {
		margin:0 0 0.5em;
	}
	blockquote {
		margin:$global-spacing/4 0;
		padding:$global-spacing/4 $global-spacing $global-spacing/4 $global-spacing/4;

		color:lighten($color-blog, 15%);
		border-left:5px solid $color-blog;
		font-size:2em;
		line-height:1em;
		font-family:$font-brand;
		font-style:italic;

		p:last-child { margin-bottom:0; }
	}
}
.post-header {
	margin: 0 0 $global-spacing;
	text-align:center;

	@include respond-to($media-mobile) {
		margin-bottom:$global-spacing/2;
	}
}
.post-header h1 {
	margin:0 0 0.25em;
	font-size:calc-em($font-size-mega, $font-size-body);
	line-height:1em;

	@include respond-to($media-mobile) {
		font-size:2.5em;
	}
}
.post-meta {
	color:$color-light;
	font-size:0.875em;

	@include respond-to($media-mobile) {
		width:80%;
		margin-right:auto;
		margin-left:auto;
	}
}
.post-content {
	a {
		text-decoration:underline;
	}
	img, figure {
		display:block;
		margin:$global-spacing 0;
	}
	figure img {
		margin:0;
	}
	figcaption {
		margin:0.5em 0 0;
		font-family:$font-brand;
		text-align:center;
	}
}

//*************************
// $$ Page Specific
//**************************

.about .about-image {
	float:right;
	width:175px;
	margin:0 10px 5px;

	@include respond-to($media-mobile) {
		float:none;
		margin: 0 0 1em;
	}
}

// Hire Me Page

.abilities {
	list-style:none;
	margin:1.5em 0;

	li {
		position:relative;
		padding:0.5em;
		color:#fff;
	}
}
%ability {

	&:before {
		content:attr(data-ability);

		position:absolute;
		top:0.5em;

		margin-left:-1.5em;
		color:#fff;
	}
	&:after {
		content:"";
		position:absolute;
		top:0;
		left:0;

		height:100%;
		background:lighten($color-blog, 10%);

		z-index:-1;
	}

	&:nth-child(even):after {
		background:lighten($color-blog, 20%);
	}
}

$abilities:'html', 'css', 'js', 'sass', 'git', 'wordpress', 'php', 'ruby';
$levels:95, 95, 80, 95, 75, 80, 60, 30;
$i:1;
@each $ability in $abilities {

	@-webkit-keyframes show-ability-#{$ability} {
		from { width:0; }
		to   { width:nth($levels, $i) * 1%; }
	}
	@-moz-keyframes show-ability-#{$ability} {
		from { width:0; }
		to   { width:nth($levels, $i) * 1%; }
	}
	@-o-keyframes show-ability-#{$ability} {
		from { width:0; }
		to   { width:nth($levels, $i) * 1%; }
	}
	@keyframes show-ability-#{$ability} {
		from { width:0; }
		to   { width:nth($levels, $i) * 1%; }
	}

	.abilities-#{$ability} {
		@extend %ability;

		&:before {
			left:nth($levels, $i) * 1%;
		}
		&:after {
			-webkit-animation: show-ability-#{$ability} ease-in-out 1s 2s 1; /* Safari 4+ */
			-webkit-animation-fill-mode:forwards;
			   -moz-animation: show-ability-#{$ability} ease-in-out 1s 2s 1; /* Fx 5+ */
			   -moz-animation-fill-mode:forwards;
			     -o-animation: show-ability-#{$ability} ease-in-out 1s 2s 1; /* Opera 12+ */
			     -o-animation-fill-mode:forwards;
			        animation: show-ability-#{$ability} ease-in-out 1s 2s 1; /* IE 10+ */
			        animation-fill-mode:forwards;
		}
	}
	$i:$i + 1;
}
