//*************************
// $$ Reset
//**************************

//*************************
// $$ Base
//**************************

// Base Styles and Custom Reset

// Using Variables some of these base styles can easily be modified to suit the site
// or client's branding but feel free to modifiy things further just like any CSS
// reset. Just bear in mind that this is supposed to be a global baseline so don't
// just reset everything to zero and then override everything later - that's not the
// point of a reset.

// Some of this is based on Normalize.css and some of it is through personal experimentation.

//*************************
// $$ Reset
//**************************

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }
audio, canvas, video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: $font-copy; color: $color-copy; }
body { margin: 0; color:$color-copy; font-size: 1em; line-height: $global-spacing/2; }

@include selection($color-brand, #fff);

//*************************
// $$ Links
//**************************

a {
	color:$color-light;
	text-decoration:none;
	cursor:pointer;
	-webkit-transition:0.3s;
	   -moz-transition:0.3s;
	     -o-transition:0.3s;
	    -ms-transition:0.3s;
	        transition:0.3s;

	&:hover {
		color:$color-dark;
	}
}
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }


//*************************
// $$ Typography
//**************************

body {
	font-size:calc-em($font-size-body, $font-size-default);
	line-height:($font-leading-body, $font-size-default);
}

$i: 1;
$font-sizes: $font-size-h1, $font-size-h2, $font-size-h3, $font-size-h4;
$font-leading: $font-leading-h1, $font-leading-h2, $font-leading-h3, $font-leading-h4;
@each $font-size in $font-sizes {
	h#{$i},
	%h#{$i} {
		margin: 0 0 calc-em($font-margin-bottom, nth($font-sizes, $i));

		color:$color-copy;
		font-size:calc-em(nth($font-sizes, $i), $font-size-body);
		line-height:calc-em(nth($font-leading, $i), nth($font-sizes, $i));
		font-family:$font-brand;
		font-weight:normal;
		font-style:italic;
	}
	$i: $i + 1;
}

p {
	margin:0 0 calc-em($font-margin-bottom, $font-size-body);
}

b, strong { font-weight:bold; }
i, em { font-family:$font-brand; font-style:italic; }
small { font-size:80%; }

pre, code, kbd, samp {
	font-family: "Ubuntu Mono", Consolas, Menlo, monospace, serif;
	_font-family: 'courier new', monospace;
	font-size: 1em;
}

hr {
	display:block;
	margin:$global-spacing 0;
	border:1px solid $color-light;
}

//*************************
// $$ Lists
//**************************

ul, ol {
	margin: $global-spacing/2 $global-spacing/2 $global-spacing/2 1em;
	padding:0;
	list-style-position:outside;
	list-style-image:none;
}
li {
	line-height:1.5;
	font-size:inherit;
	padding:0;
}
nav ul,
nav ol {
	list-style: none;
	list-style-image: none;
}

//*************************
// $$ Tables
//**************************

table {
	border-collapse:collapse;
	border-spacing:0;
}

//*************************
// $$ Images
//**************************

img, a img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	max-width:100%;
}

figure { margin:0; }
figcaption {
	margin:$global-spacing 0;
	font-style:italic;
}

//*************************
// $$ Forms
//**************************

form { margin:0; }
label { cursor: pointer; }
input, select, textarea { margin:0 0 1em; }
input, select, textarea{ font:inherit; }
button, input, select, textarea {
	font:inherit;
	vertical-align: baseline;
	*vertical-align: middle;
}
button, input {
	line-height: normal;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
	*overflow: visible;
}
textarea {
	overflow: auto;
	vertical-align: top;
	resize:vertical; // only allow verticle resizing so fluid layout doesn't break
}

// Make sure all lists of form elements don't display like a bullet list
form ul {
	list-style:none;
	margin:0;
	padding:0;

	li {
		position:relative;
		margin:0 0 1em 0;
	}
}


//*************************
// $$ Layout
//**************************

body {
	margin:0;
	padding:0;
	overflow-x:hidden;
}
