//*************************
// $$ Sidebar
//**************************

.authorship-image {
	position:absolute;
	bottom:6px; // take accout of footer border
	left:1px;
	margin:0!important;
	z-index:20; // so navicon disappears behind it
}

.site-sidebar .site-sidebar-navigation a {
	color:#fff;
	&:hover {
		color:$color-copy;
	}
}
.site-sidebar-next-blog,
.site-sidebar-prev-blog,
.site-sidebar-next-projects,
.site-sidebar-prev-projects,
.site-sidebar-home {
	@extend %button;
	display:block;
	width:100%;
	height:3em;
	line-height:3em;
	padding:0!important;

	font-size:0.875em;
	border:1px solid #fff;
	border-bottom:0;
}
.site-sidebar-next-blog {
	@extend %background-articles;
}
.site-sidebar-prev-blog {
	@extend %background-articles-light;
}
.site-sidebar-next-projects {
	@extend %background-projects;
}
.site-sidebar-prev-projects {
	@extend %background-projects-light;
}
.site-sidebar-home {
	@extend %background-home;
}
