//*************************
// $$ Variables
//**************************

$color-light:#ccc;
$color-dark:#333;

$color-home:#51b2c3;
$color-blog:#2a835c;
$color-work:#c96d1b;
$color-cv:#f9c526;
$color-about:#6c4b9d;
$color-hire:#9e2a2a;

$color-brand:$color-blog;

$font-brand:'Baskerville', serif;
$font-copy:'PTSans', 'Helvetica', 'Arial', sans-serif;

