//*************************
// $$ Variables
//**************************

$global-spacing:3em;

$color-light:#ccc;
$color-dark:#333;

$color-home:#51b2c3;
$color-blog:#2a835c;
$color-work:#c96d1b;
$color-cv:#f9c526;
$color-about:#6c4b9d;
$color-hire:#9e2a2a;

$color-copy:#333;
$color-brand:$color-blog;

$font-brand:'Baskerville', serif;
$font-copy:'PTSans', 'Helvetica', 'Arial', sans-serif;

$font-size-default:16px;
$font-size-mega:50px;

$font-size-body:20px;
$font-leading-body:1.5;
$font-size-h1:34px; $font-leading-h1:42px;
$font-size-h2:32px; $font-leading-h2:40px;
$font-size-h3:26px; $font-leading-h3:34px;
$font-size-h4:20px; $font-leading-h4:32px;

$font-margin-bottom:15px;

$media-tablet:40.625em; // 650px
$media-mobile:27.5em; // 400px
