//*************************
// $$ Work
//**************************

.project-screenshots {
	margin:$global-spacing 0;
}

// Take advantage of automatically fluid images and add
// a background image, constraining the size with
// background-size to display each piece of work

//background-size: (viewportWidth/imageWidth)*100% (viewportHeight/imageHeight)*100%

.post-content {
	%project {
		display:inline-block;
		margin:0;
	}
	.project-desktop {
		@extend %project;

		width:380px;

		background-position:49% 14%;
		background-repeat:no-repeat;
		background-size:(456/497)*100% (257/399)*100%;

		vertical-align:baseline;
	}
	.project-tablet {
		@extend %project;

		width:237px;

		background-position:50% 57%;
		background-repeat:no-repeat;
		background-size:(213/274)*100% (272/347)*100%;

		vertical-align:baseline;
	}
	.project-mobile {
		@extend %project;

		width:130px;

		background-position:50% 52%;
		background-repeat:no-repeat;
		background-size:(138/166)*100% (215/322)*100%;

		vertical-align:baseline;
	}
}
