<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{ page.title }} | {{ site.name }} - {{ site.description }}</title>
		<meta name="description" content="Personal blog of Guy Routledge, a front-end web developer from London">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
		<link rel="stylesheet" href="/assets/css/main.min.css">
		<script type="text/javascript" async src="http://www.google-analytics.com/ga.js"></script>
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="shortcut icon" href="/favicon.png">
	</head>
	<body>
		<!-- show hide navigation by switching :checked pseudo class -->
		<input type="checkbox" id="navigation" class="navigation-control">
		<div class="site-container">

			{% include navigation.html %}

			<div class="site-content">

				{{ content }}

				{% if site.available %}
					{% include available.html %}
				{% endif %}

				{% include footer.html %}

			</div>

		</div>
	</body>
</html>
